<a href="https://colab.research.google.com/github/Arokiarajan1/Arokiabackup/blob/main/Basic_Fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import polars as pl
from datetime import datetime
from scipy import misc
import matplotlib.pyplot as plt
from numpy import linalg
%matplotlib inline
import nltk

In [15]:
df = pd.read_csv('Billionaires Statistics Dataset.csv')

In [161]:
df.set_index('rank').head(10).sort_values(by = "finalWorth", ascending=False)

,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
rank,,,,,,,,,,,,,,,,,,,,,
1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH Moët Hennessy Louis Vuitton,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,Amazon,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,Oracle,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
7,94500,Media & Entertainment,Michael Bloomberg,81.0,United States,New York,Bloomberg LP,Media & Entertainment,United States,Bloomberg,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
8,93000,Telecom,Carlos Slim Helu & family,83.0,Mexico,Mexico City,Telecom,Telecom,Mexico,América Móvil,...,3.6,"$1,258,286,717,125",40.2,105.8,75.0,13.1,55.1,1.260140e+08,23.634501,-102.552784
9,83400,Diversified,Mukesh Ambani,65.0,India,Mumbai,Diversified,Diversified,India,Reliance Industries,...,7.7,"$2,611,000,000,000",28.1,113.0,69.4,11.2,49.7,1.366418e+09,20.593684,78.962880
10,80700,Technology,Steve Ballmer,67.0,United States,Hunts Point,Microsoft,Technology,United States,Los Angeles Clippers,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891

In [ ]:
df.style.background_gradient(cmap='coolwarm')

In [102]:
df.shape

(2640, 35)

In [55]:
len('df')

2640

In [150]:
Pct_missing = df.isna().sum()/len(df)

In [154]:
Pct_missing = df.isna().sum()/len(df)
Pct_missing = Pct_missing.apply(lambda x: format(x, '.3%'))
Pct_missing = Pct_missing.sort_values(ascending=False)
print(Pct_missing)

organization                                  87.689%
title                                         87.159%
residenceStateRegion                          71.705%
state                                         71.477%
cpi_change_country                             6.970%
cpi_country                                    6.970%
tax_revenue_country_country                    6.932%
total_tax_rate_country                         6.894%
life_expectancy_country                        6.894%
gross_tertiary_education_enrollment            6.894%
gross_primary_education_enrollment_country     6.856%
latitude_country                               6.212%
population_country                             6.212%
gdp_country                                    6.212%
longitude_country                              6.212%
birthDate                                      2.879%
birthYear                                      2.879%
birthMonth                                     2.879%
birthDay                                       2.879%
city                                           2.727%
age                                            2.462%
country                                        1.439%
firstName                                      0.114%
lastName                                       0.000%
source                                         0.000%
category                                       0.000%
personName                                     0.000%
selfMade                                       0.000%
industries                                     0.000%
countryOfCitizenship                           0.000%
status                                         0.000%
gender                                         0.000%
date                                           0.000%
finalWorth                                     0.000%
rank                                           0.000%
dtype: object

In [140]:
df.dtypes

rank                                            int64
finalWorth                                      int64
category                                       object
personName                                     object
age                                           float64
country                                        object
city                                           object
source                                         object
industries                                     object
countryOfCitizenship                           object
organization                                   object
selfMade                                         bool
status                                         object
gender                                         object
birthDate                                      object
lastName                                       object
firstName                                      object
title                                          object
date                                           object
state                                          object
residenceStateRegion                           object
birthYear                                     float64
birthMonth                                    float64
birthDay                                      float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
life_expectancy_country                       float64
tax_revenue_country_country                   float64
total_tax_rate_country                        float64
population_country                            float64
latitude_country                              float64
longitude_country                             float64
dtype: object

In [213]:
df[['personName', 'age']].value_counts(ascending=False)

personName          age
A. Jayson Adair     53.0    1
Qinxiang Shao       68.0    1
Pei Zhenhua         64.0    1
Peng Zhao           52.0    1
Penny Pritzker      63.0    1
                           ..
Huang Yi            61.0    1
Hubert Burda        83.0    1
Hui Ka Yan          64.0    1
Hui Lin Chit        69.0    1
Zygmunt Solorz-Zak  66.0    1
Length: 2575, dtype: int64

In [233]:
df[['finalWorth','age']].describe()

          finalWorth          age
count    2640.000000  2575.000000
mean     4623.787879    65.140194
std      9834.240939    13.258098
min      1000.000000    18.000000
25%      1500.000000    56.000000
50%      2300.000000    65.000000
75%      4200.000000    75.000000
max    211000.000000   101.000000

In [242]:
df[['finalWorth', 'age']].agg(['mean', 'sum', 'count', 'max', 'min','skew'])

         finalWorth            age
mean   4.623788e+03      65.140194
sum    1.220680e+07  167736.000000
count  2.640000e+03    2575.000000
max    2.110000e+05     101.000000
min    1.000000e+03      18.000000
skew   1.001237e+01      -0.078059

In [249]:
df.sort_values(by="finalWorth", ascending=False).head(5)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country,Fashion & Retail
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749,Technology
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891,Technology
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891,Technology
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891,Technology
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891,Technology

In [263]:
## df['category'].str.lower() # lower string values
# df['category'].str.upper() # lower string values
#df['category'].str.split("& ") # lower string values
df['category'].str.len().median() # column string lenght

13.0